# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Virtual environments
.venv/
venv/

# Data (keep sample but ignore heavy/raw)
/data/raw/
/data/processed/

# Streamlit
.streamlit/secrets.toml

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
